{{> layout/header}}
<div class="container p-5">
    <div class="card">
        <div class="card-header">
            <h4 class="mb-0"><b>환불 요청 관리</b></h4>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>사용자(Email)</th>
                        <th>주문번호</th>
                        <th>환불 요청 금액</th>
                        <th>요청일시</th>
                        <th>상태</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                {{#refundList}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{username}}</td>
                        <td>{{merchantUid}}</td>
                        <td>{{amount}} P</td>
                        <td>{{requestedAt}}</td>
                        <td>{{statusDisplay}}</td>
                        <td>
                            <button class="btn btn-outline-secondary btn-sm"
                                    data-bs-toggle="modal" data-bs-target="#myModal"
                            onclick="openRefundModal({{id}}, '{{username}}', '{{reason}}', {{amount}}, '{{statusDisplay}}')">
                                상세
                            </button>
                        </td>
                    </tr>
                {{/refundList}}
                </tbody>
            </table>
        </div>
        <div class="card-footer">Footer</div>

        <!--  Modal      -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">환불 요청 상세</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <!--  상세 보기 버튼 클릭시 [1] [2] [3] ...중 어떤 PK 값의 상세보기를 눌렀는지를 value 에 넣어줄 것임(JS로) -->
                        <!--  현재 선택된 환불 용청 Pk 값을 잠시 이태그에 저장해둠    -->
                        <input type="hidden" id="modalRefundId" value="">
                       <div class="mb-3">
                           <label class="form-label text-muted small">신청자</label>
                           <div class="form-control-plaintext fw-bold" id="modalUsername">((동적바인딩))</div>
                       </div>
                        <div class="mb-3">
                            <label class="form-label text-muted small">환불 요청 금액</label>
                            <div class="form-control-plaintext fw-bold text-danger" id="modalAmount">((동적바인딩))</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label text-muted small">환불 사유</label>
                            <div class="form-control-plaintext fw-normal rounded-2 p-2" id="modalReason" style="background-color: rgb(245, 245, 245);">((동적바인딩))</div>
                        </div>
                        <div class="mb-3" style="display: none;" id="rejectReasonDiv">
                            <label class="form-label text-muted small">관리자 거절 이유</label>
                            <textarea class="form-control" name="" id="rejectReasonInput" rows="2" placeholder="거절 사유 반드시 입력"></textarea>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer" id="modalFooter">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // 모달이 오픈될 때 동적으로 해당하는 row 값을 모달에 올려주어야한다.
    function openRefundModal(id, username, reason, amount, statusDisplay) {
        // 환불 테이블 pk 할당(추후 환불 거절/승인)
        document.getElementById("modalRefundId").value = id;
        document.getElementById("modalUsername").textContent = username;
        document.getElementById("modalReason").textContent = reason ? reason : "(사유없음)";
        document.getElementById("modalAmount").textContent = parseInt(amount).toLocaleString() + ' P';

        // UI 초기화
        const footer = document.getElementById("modalFooter");
        const rejectDiv = document.getElementById("rejectReasonDiv");
        rejectDiv.style.display = 'none';
        document.getElementById("rejectReasonInput").value = "";

        if(statusDisplay === '대기중') {
            footer.innerHTML = `
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-danger" onclick="toggleRejectInput()">거절</button>
                <button type="button" class="btn btn-primary" onclick="approveRefund(${id})"> 환불 승인</button>
            `;
        } else {
            footer.innerHTML = `
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                `;
        }
    }

    function toggleRejectInput() {
        const rejectDiv = document.getElementById("rejectReasonDiv");
        const footer = document.getElementById("modalFooter");
        const id = document.getElementById("modalRefundId").value;

        rejectDiv.style.display = 'block';
        footer.innerHTML = `
             <button type="button" class="btn btn-secondary" onclick="hideRejectInput()">취소</button>
             <button type="button" class="btn btn-danger" onclick="rejectRefund(${id})">거절 확정</button>
        `;
    }

    function rejectRefund(id) {
        // fetch 대신 동적 form 생성해서 서버로 보내는 방법도 있음
        const rejectReason = document.getElementById("rejectReasonInput").value.trim();

        if(!rejectReason) {
            alert("거절 사유를 입력해주세요");
            return;
        }

        if(!confirm("환불 요청을 정말로 거절하시겠습니까?")) {
            return;
        }

        // 동적으로 form 생성하여 post 요청할 것임
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = `/admin/refund/${id}/reject`;

        // <form> 내부에 input 태그 만들것임
        // <form> <input name="rejectReason" value="그냥 거절"> </form>
        const input = document.createElement('input');
        input.type = "hidden";
        input.name = "rejectReason";
        input.value = rejectReason;

        form.appendChild(input); // form 태그 내에 input 태그 넣는 방법

        // DOM 에 방금 동적으로 만들어 둔 form 태그를 추가해야함
        document.body.appendChild(form);

        // 서버측으로 제출하기
        form.submit();

    }

    // 취소를 눌렀을 경우
    function hideRejectInput() {
        const id = document.getElementById("modalRefundId").value;
        const rejectDiv = document.getElementById("rejectReasonDiv");
        const footer = document.getElementById("modalFooter");

        rejectDiv.style.display = 'none';
        document.getElementById("rejectReasonInput").value = "";

        footer.innerHTML = `
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-danger" onclick="toggleRejectInput()">거절</button>
                <button type="button" class="btn btn-primary" onclick="approveRefund(${id})">환불 승인</button>
            `;
    }

    function approveRefund(id) {
        if(!confirm("환불을 승인하시겠습니까?\n(즉시 환불처리됩니다.)")) {
            return;
        }
        // 폼 태그 동적 생성
        const form = document.createElement("form");
        form.method = "POST";
        form.action = `/admin/refund/${id}/approve`;

        document.body.appendChild(form);
        form.submit();
    }

</script>
{{> layout/footer}}